header {
    width: 100%;
    background: rgb(27, 38, 50);
    color:rgb(255, 255, 255);
}

header .container
{
 max-width: 90%;
 height:auto;
 margin:0 auto;
 display: flex;
 justify-content:space-between;
 align-items: center;
}
header .container .logo
{
    width:5rem;
}
header .container a{
    color:rgb(255, 255, 255);
    text-decoration: none;
   
    
}
header .container a:hover{
    color:rgba(45,183,234,255);
    transition: all 300ms ease;
}
header .container .menu-list li{
    display:inline;
    padding: 0 0.5rem;
}
header .container .menu input, label{
    display: none;
}

/*--Header--*/

@media (min-width:240px) and (max-width:880px){

    header .menu-list{
        display:none;
        top: 5rem;
        right: 0;
        position: absolute;
    }

    header .container .menu-list li  {
        padding:2rem 0;
    }
    header .container .bar-btn {
        display: flex;
        user-select: none;
        cursor:pointer;
        font-size: 2rem;
    }

    header #menu:checked~.menu-list {
        width: 30%;
        height:50vh;
        background:rgba(27, 38, 50, 0.904);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 2rem;
    }
    
}