#services{
    background:rgb(238, 238, 238);
    width: 100%;
    height: auto;
    margin:0 auto;
    padding:1rem 0;
}
#services h1, h2, a{
    text-align: center;
    font-weight: 400;
}
#promos{
    max-width: 90%;
    height: auto;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#promos ul li{
    list-style: none;
    padding: 1rem 0;
}
.card{
    border:2px solid rgba(45,183,234,255);
    border-radius:4px;
    width: 100%;
    height:auto;
    margin:0 auto;
    padding:1rem;
    text-align: justify;
}
.boton{
    background: rgba(45,183,234,255);
    border-radius: 2px;
    text-decoration: none;
    padding:0.5rem;
    color:#fff;
}
.price{
    font-size: 2rem;
    color:rgba(0, 0, 0, 0.596);
}

@keyframes mover{
    0%{
        transform: translateY(40%);
        z-index: 1;
    }
}